################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EjericicioFormacion/.vs/EjericicioFormacion/v16/TestStore/0
*.testlog
*.dll
*.manifest
*.suo
*.pdb
